@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@300;400&display=swap");
.all {
  background-color: #1a0d0d;
  color: azure;
  font-family: "Poppins", sans-serif;
}
.intro {
  font-weight: 400;
}
.proudly {
  font-size: x-large;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  color: gold;
}
.ghana-image {
  width: 50%;
  height: 50%;
  align-self: center;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
